<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pshashank.facilitiesmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.SearchUserActivity"></activity>
        <activity
            android:name=".User.ViewSelectedViolationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".User.ViewViolationsActivity" />
        <activity android:name=".User.ModifyReservationActivity"></activity>
        <activity android:name=".User.BookReservationActivity" />
        <activity android:name=".User.RequestReservationActivity" />
        <activity android:name=".User.ViewReservationsActivity" />
        <activity android:name=".UpdateProfileActivity"></activity>
        <activity
            android:name=".User.ViewSpecificReservationActivity"
            android:label="ViewSpecificReservation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".User.RegistrationActivity" />
        <activity android:name=".FacilityManager.FMActivity" />
        <activity android:name=".Admin.AdminHomeScreen" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.UserHomeScreen" />
    </application>

</manifest>